@import url('./styles/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

input, select{
  outline: none;
  background: transparent;
}
button {
  outline: none;
}

body {
  overflow-x: hidden;
}

.app-gray-color, .hover-app-gray-color:hover {
  background: var(--app-gray);
}

.hover-dark-app-gray-color:hover, .dark-app-gray-color {
  background: var(--dark-app-gray);
}

.search-input-behaviour {
  background: var(--app-gray);
  border: 2.5px solid var(--app-gray)
}

.search-input-behaviour:hover {
  border: 2.5px solid rgb(206, 192, 0);
}

.search-input-grid {
  grid-template-columns: 1fr 10fr 1fr;
}

.form-grid-signup, .form-grid-login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.form-grid-signup {
  grid-template-columns: 7fr 8fr;
}

.input-field-grid {
  grid-template-columns: 3fr 2fr;
}

.country-phone-input-grid {
  grid-template-columns: 1fr 0.2fr 0.9fr;
}
